{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block content %}

<h1><strong>{{ SITENAME }} |</strong> {{AUTHOR}}</h1>
    <div class="intro">
        <p><strong>Hi, my name is Thomas</strong> and I'm currently doing a bachelor's degree in Software Development at UCL (University College Lillebaelt) here in Denmark.</p>
        <p>I'm passionate about programming and development, especially in the C# and .NET world. During my time as a student, intern and developer, I've worked on many varying projects using different frameworks and coding languages. These include, but are not limited to, Umraco CMS, React, Biztalk, Angular and Xamarin.</p>
        <p>In my free time I like to dedicate some of my personal effort on smaller side projects, which you can find showcased on this site. Working on these projects has allowed me to get a broader perspective on the current software landscape. Apart from developing side projects, I also enjoy writing articles and guides on topics that interest me, be it software related or not.</p>
        <p>Don't hesistate to contact me through email or LinkedIn if you have any questions. (links can be found at the bottom of the page)</p>
    </div>
    
   
    <h1><strong>Showcase |</strong> My Projects</h1>
    <br>
    
    <div class="row">
  {% for article in articles %}
    {% if  loop.index0 is divisibleby 3 %}
    </div>
        <div class="row">
    {% endif %}
        
    <div class="col-md-4">
        {% if  article.featured_image %}
        <div class="containertumb">
            <a href="{{article.slug}}.html">
                <img src="{{ article.featured_image }}" style="width:100%" class="tumb">
                  <div class="middle">
                      <div class="text"><h2>{{ article.title}}</h2>
                      </div>
                  </div>
                <div class="middleback">
                      <div class="middlebacktext">
<!--                          <p><strong>Project Date: </strong>{{ article.date|strftime('%Y') }}</p>-->
                          {% if  article.summary %}
                          <p><strong>Summary:</strong> {{article.summary}}</p>
                          {% endif %}
                          <hr>
                          <p><strong>Skills:</strong>
                          {% for tag in article.tags %}
                                 {{ tag }} |
                            {% endfor %}
                          </p>
                      </div>
                  </div>
            </a>
        </div>
        {% endif %}
   <!--h2><a href="/{{ article.slug }}.html">{{ article.title }}</a></h2>
   <label>Project Date: <strong>{{ article.date|strftime('%Y') }}</strong></label>
   {{ article.content|truncate(3) }}-->
<!--
    {% if  loop.index0|float//3 ==2 and not(loop.index0==(articles|length)) %}
    </div>
    {% endif %}  
-->
            
            
    </div>
        
        
  {% else %}
   No projects yet!
  {% endfor %}
    </div>
{% endblock %}
